*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #002b36;
}

a:link,
a:visited {
    color: #002b36;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #3fa8f8;
    text-decoration: underline;
}

/*
main
*/
.lui-main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*
header
*/
.lui-header {
    background: #000;
    color: #eee;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;

    a:link,
    a:visited {
        color: #ccc;
    }

    a:hover {
        color: #fff;
    }
}

.lui-title {
    font-size: 16px;
    font-weight: bold;
}

/*
filter
*/
.lui-filter {
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
}

.lui-filter-info {
    margin-left: 10px;
}

.lui-separator {
    width: 1px;
    height: 19px;
    border-right: 1px dotted #333;
    margin: 0 10px;
}

.lui-arrow-next {
    margin: 0 5px;
    height: 22px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAK5JREFUOI3tkUFOQkEQRN/XD+upqrmKK+IPyEW8niFiCEcx8Q6fM2iGBbjRhMxe366T7uquLvjnFyX5SLIFsP1s+wgsuwUkrSTNSTbAfUl2kg7Aov+KWifbp1LrBIyS3pTsgbFbJMmT7VOSB2Bp++jk5Wff3Q2NobXWhmH4+q5p7bN3+0bSLGkFLCQdSrLrslBqnSTNpdZHYFSyV/LaNQzg5D3JGi4xXp/Xn8Af5AzxiCE7T8CmVAAAAABJRU5ErkJggg==");
}

/*
grid
*/

.lui-grid {
    overflow: hidden;
}

.lui-grid .tg-row .lui-percent {
    .lui-percent-label {
        width: 60px;
        text-align: right;
        padding-right: 3px;
    }

    .lui-percent-chart {
        width: 100%;
        height: 15px;
        border: 1px solid #999;
        border-radius: 3px;

        div {
            height: 100%;
            background: #999;
        }
    }
}

/*
footer
*/
.lui-footer {
    background: #f5f5f5;
    position: relative;
    padding: 8px;
    border-top: 1px solid #eee;
}

.lui-footer,
.lui-footer a:link,
.lui-footer a:visited {
    color: #888;
}

.lui-footer a:hover {
    color: #333;
}

.lui-link {
    cursor: pointer;
    margin-right: 10px;
}

.lui-link:hover {
    text-decoration: underline;
}

.lui-info-disabled {
    margin-right: 10px;
    font-weight: normal;
}

.lui-info-warnings {
    color: orange;
}

.lui-info-errors {
    color: red;
}

/*
color
*/
.color-gray {
    color: gray;
}

.color-green {
    color: green;
}

.color-orange {
    color: orange;
}

.color-red {
    color: red;
}

.color-match {
    color: midnightblue;
}

/*
detail
*/
.tg-issuer-icon {
    width: 100%;
    height: 100%;
    background-color: #fff;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3ccircle cx='7.5' cy='7.5' r='6.5' fill='none' stroke='%235e5e5e' vector-effect='non-scaling-stroke' stroke-miterlimit='10'/%3e%3cpath stroke='none' d='M6.75 3.75H8V5H6.75zM9.125 11V9.875h-1V6h-2.25v1.125h1v2.75h-1V11h3.25z'/%3e%3c/svg%3e");
}

.tg-popover-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.lui-grid .tg-popover-icon.tg-popover-icon-pin {
    display: block;
}

/*
modal slot
*/

.lui-modal-label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.lui-modal-item {
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}

.lui-modal-item:hover {
    background-color: #f5f5f5;
}

.lui-modal-line {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.lui-modal-tip {
    color: #666;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.lui-modal-arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23333' d='M3,2V11Q3,13,5,13H12.5L10.5,15H12L14.5,12.5L12,10H10.5L12.5,12H5Q4,12,4,11V2z'/%3e%3c/svg%3e");
}

.lui-modal-table {
    margin-top: 5px;
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

.lui-modal-table th,
.lui-modal-table td {
    text-align: left;
    border: 1px solid #eee;
    padding: 5px;
}

.lui-modal-nowrap {
    white-space: nowrap;
}
