*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #002b36;
}

a:link,
a:visited {
    color: #002b36;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #3fa8f8;
    text-decoration: underline;
}

.lui-icon {
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    opacity: 0.8;
}

.lui-icon:hover {
    opacity: 1;
}

.lui-icon-close {
    background-image: url("./images/chrome-close.svg");
}

/*
.lui-icon-maximize {
    background-image: url("./images/chrome-maximize.svg");
}

.lui-icon-restore {
    background-image: url("./images/chrome-restore.svg");
}

*/

.lui-icon-arrow-right {
    background-image: url("./images/d-arrow-right.svg");
}

/*
main
*/
.lui-main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*
header
*/
.lui-header {
    background: #000;
    color: #eee;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;

    a:link,
    a:visited {
        color: #ccc;
    }

    a:hover {
        color: #fff;
    }
}

.lui-title {
    font-size: 16px;
    font-weight: bold;
}

/*
filter
*/
.lui-filter {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.lui-filter-info {
    margin-left: 10px;
}

.lui-separator {
    width: 1px;
    height: 19px;
    border-right: 1px dotted #333;
}

.lui-arrow-next {
    height: 22px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("./images/arrow-right.svg");
}

/*
grid
*/

.lui-grid {
    overflow: hidden;
}

.lui-grid .tg-row .lui-percent {
    .lui-percent-label {
        width: 60px;
        text-align: right;
        padding-right: 3px;
    }

    .lui-percent-chart {
        width: 100%;
        height: 15px;
        border: 1px solid #999;
        border-radius: 3px;
    }
}

/*
footer
*/
.lui-footer {
    background: #f5f5f5;
    position: relative;
    padding: 8px;
    border-top: 1px solid #eee;
}

.lui-footer,
.lui-footer a:link,
.lui-footer a:visited {
    color: #888;
}

.lui-footer a:hover {
    color: #333;
}

.lui-link {
    cursor: pointer;
    margin-right: 10px;
}

.lui-link:hover {
    text-decoration: underline;
}

.lui-info-disabled {
    margin-right: 10px;
    font-weight: normal;
}

.lui-info-warnings {
    color: orange;
}

.lui-info-errors {
    color: red;
}

/*
color
*/
.color-gray {
    color: gray;
}

.color-green {
    color: green;
}

.color-orange {
    color: orange;
}

.color-red {
    color: red;
}

.color-match {
    color: midnightblue;
}

/*
detail
*/
.tg-issuer-icon {
    width: 100%;
    height: 100%;
    background-color: #fff;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("./images/info-circle-outlined.svg");
}

.tg-flyover-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.lui-flyover-main {
    height: 100%;
    overflow: hidden;
}

.lui-flyover-header {
    height: 40px;
    background-color: #666;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
}

.lui-flyover-icon {
    cursor: pointer;
    padding: 9px 0;
}

.lui-flyover-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.lui-flyover-content {
    padding: 10px;
    overflow: auto;
}

/*
modal slot
*/

.lui-modal-label {
    font-size: 16px;
    font-weight: bold;
}

.lui-modal-item {
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    margin-bottom: 10px;
}

.lui-modal-item:hover {
    background-color: #f5f5f5;
}

.lui-modal-list {
    margin-bottom: 10px;
}

.lui-modal-list .lui-modal-item {
    margin-bottom: 0;
}

.lui-modal-line {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.lui-modal-tip {
    color: #666;
    word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.lui-modal-arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("./images/arrow-right-bottom.svg");
}

.lui-modal-table {
    margin-top: 5px;
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

.lui-modal-table th,
.lui-modal-table td {
    text-align: left;
    border: 1px solid #eee;
    padding: 5px;
}

.lui-modal-nowrap {
    white-space: nowrap;
}
