*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #002b36;
}

/*
layout
*/
.gui-hs-5 {
    display: inline-block;
    width: 5px;
    height: 100%;
}

.gui-hs-10 {
    display: inline-block;
    width: 10px;
    height: 100%;
}

.gui-vs-5 {
    display: block;
    height: 5px;
}

.gui-vs-10 {
    display: block;
    height: 10px;
}

.gui-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.gui-flex-column {
    display: flex;
    flex-direction: column;
    position: relative;
}

.gui-flex-auto {
    flex: 1 1 0%;
    overflow: hidden;
}

/**
form
**/

input {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
}

a:link,
a:visited {
    color: #002b36;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #3fa8f8;
    text-decoration: underline;
}

.gui-input {
    display: inline-block;
    padding: 2px 5px;
    height: 25px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gui-input:hover {
    border: 1px solid #aaa;
}

.gui-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.gui-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.gui-control-label::before {
    position: absolute;
    top: 7px;
    left: -20px;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.gui-checkbox .gui-control-label::before {
    border-radius: 3px;
}

.gui-control-input:disabled ~ .gui-control-label::before {
    background-color: #e9ecef;
}

.gui-control-input:checked ~ .gui-control-label::before {
    color: #fff;
    border-color: #0077cf;
    background-color: #0077cf;
}

.gui-control-input:focus ~ .gui-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.gui-control-input:focus:not(:checked) ~ .gui-control-label::before {
    border-color: #80bdff;
}

.gui-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    height: 30px;
    display: inline-block;
    white-space: nowrap;
}

.gui-control-input:disabled ~ .gui-control-label {
    color: #6c757d;
}

.gui-control-input:not(:disabled):active ~ .gui-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.gui-control-label::after {
    position: absolute;
    top: 7px;
    left: -20px;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-clip: border-box;
}

.gui-checkbox {
    display: inline-block;
    padding-left: 22px;
    padding-right: 2px;
    height: 30px;
    line-height: 30px;
}

.gui-checkbox .gui-control-input:checked ~ .gui-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.gui-checkbox .gui-control-input:indeterminate ~ .gui-control-label::before {
    border-color: #0077cf;
    background-color: #0077cf;
}

.gui-checkbox .gui-control-input:not(:checked) ~ .gui-control-label:hover::before {
    border-color: #888;
}

.gui-checkbox .gui-control-input:indeterminate ~ .gui-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}

.gui-checkbox .gui-control-input:disabled:checked ~ .gui-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
}

.gui-checkbox .gui-control-input:disabled:indeterminate ~ .gui-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
}

/*
main
*/
.gui-main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*
header
*/
.gui-header {
    background: #dee1e6;
    height: 40px;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #ccc;
}

.gui-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

/*
filter
*/
.gui-filter {
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
}

.gui-separator {
    width: 1px;
    height: 19px;
    border-right: 1px dotted #333;
    margin: 0 15px;
}

.gui-arrow-next {
    margin: 0 5px;
    height: 22px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAK5JREFUOI3tkUFOQkEQRN/XD+upqrmKK+IPyEW8niFiCEcx8Q6fM2iGBbjRhMxe366T7uquLvjnFyX5SLIFsP1s+wgsuwUkrSTNSTbAfUl2kg7Aov+KWifbp1LrBIyS3pTsgbFbJMmT7VOSB2Bp++jk5Wff3Q2NobXWhmH4+q5p7bN3+0bSLGkFLCQdSrLrslBqnSTNpdZHYFSyV/LaNQzg5D3JGi4xXp/Xn8Af5AzxiCE7T8CmVAAAAABJRU5ErkJggg==');
}

.gui-input[name=chunk],
.gui-input[name=type] {
    width: 80px;
    margin-left: 5px;
}

.gui-input[name=name] {
    margin-left: 5px;
    margin-right: 10px;
}

/*
grid
*/

.gui-grid {
    overflow: hidden;
}

.gui-grid .tg-row .gui-percent {
    .gui-percent-label {
        width: 60px;
        text-align: right;
        padding-right: 3px;
    }

    .gui-percent-chart {
        width: 100%;
        height: 15px;
        border: 1px solid #999;
        border-radius: 3px;

        div {
            height: 100%;
            background: #999;
        }
    }
}

/*
footer
*/
.gui-footer {
    background: #f5f5f5;
    position: relative;
    padding: 8px 8px;
    border-top: 1px solid #eee;
}

.gui-footer,
.gui-footer a:link,
.gui-footer a:visited {
    color: #888;
}

.gui-footer a:hover {
    color: #333;
}

.gui-link {
    cursor: pointer;
    margin-right: 10px;
}

.gui-link:hover {
    text-decoration: underline;
}

.gui-info-disabled {
    margin-right: 10px;
    font-weight: normal;
}

.gui-info-warnings {
    color: orange;
}

.gui-info-errors {
    color: red;
}

/*
color
*/
.color-gray {
    color: gray;
}

.color-green {
    color: green;
}

.color-orange {
    color: orange;
}

.color-red {
    color: red;
}

.color-match {
    color: midnightblue;
}

/*
detail
*/
.tg-issuer-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3ccircle cx='7.5' cy='7.5' r='6.5' fill='none' stroke='%235e5e5e' vector-effect='non-scaling-stroke' stroke-miterlimit='10'/%3e%3cpath stroke='none' d='M6.75 3.75H8V5H6.75zM9.125 11V9.875h-1V6h-2.25v1.125h1v2.75h-1V11h3.25z'/%3e%3c/svg%3e");
}

.tg-detail-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    padding-left: 10px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 8px);
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.tg-hover .tg-detail-icon {
    background: linear-gradient(to right, rgba(234, 234, 234, 0) 0, rgba(234, 234, 234, 1) 8px);
}

.tg-selected .tg-detail-icon {
    background: linear-gradient(to right, rgba(221, 221, 221, 0) 0, rgba(221, 221, 221, 1) 8px);
}

.tg-selected.tg-hover .tg-detail-icon {
    background: linear-gradient(to right, rgba(204, 204, 204, 0) 0, rgba(204, 204, 204, 1) 8px);
}
